{% extends 'base.html' %}
{% block title %}Edit Customer{% endblock %}
{% block content %}
<h2>Edit Customer</h2>
<form method="post">
  <div class="mb-3"><input class="form-control" name="name" value="{{ customer.Name }}" required></div>
  <div class="mb-3"><input class="form-control" name="address" value="{{ customer.Address }}" required></div>
  <div class="mb-3"><input class="form-control" name="email" value="{{ customer.Email }}" required></div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
